[2016-12-22 14:47] cqcn1991 opened #412 "clickable scatter plot?"
I've used the tooltip plugin to make an interactive scatter plot
![qq](https://cloud.githubusercontent.com/assets/2425141/21429143/7c372ce0-c898-11e6-9112-9354e6484a85.png)
Each point stand for a movie, in this plot. I want to make the point clickable, so I can just into the link of the movie directly. Is there any way to do it?

[2016-12-22 16:06] etgalloway commented on #412
The `PointClickableHTMLTooltip` should do what you want. See #330.

[2016-12-31 13:08] tzoukritzou opened #413 "xaxis.set_major_formatter() don't seem to work with dates"
Hi, I have the following piece of code where I choose some data from the database between two dates and plot them with dates in x-axis:

[code]
If I comment out these two lines:
mpld3.fig_to_html(fig)
mpld3.show()

and let this uncommented: plt.show()
the x axis legends shows just fine.
However, If I use mpld3, the x axis dates are showed in epoch format, so what I conclude is that the set_major f

[2017-01-04 10:41] skiniry opened #414 "Interactive Legend bar graph"
Perhaps I'm missing something obvious but I can't seem to get the interactive legend plugin to work with an ax.bar element. It displays the bars fine but clicking the legend fails to hide the bars. Anyone else run into this issue?

[2017-01-04 23:51] brianmingus opened #415 "Full legend not rendering"
This is an interactive legend scatter plot. The full thing isn't rendering...
![screenshot 2017-01-04 at 4 49 54 pm](https://cloud.githubusercontent.com/assets/3188728/21663514/e7217ace-d29d-11e6-8629-d0d10222b196.png)

Code: https://gist.github.com/brianmingus/4ddeb6aaf3d9866ba83c6090452b21f1

[2017-01-04 23:52] brianmingus commented on #415
As you can see the legend labels are cut off.

[2017-01-04 23:56] brianmingus commented on #415
I fixed this by running this code in my notebook:

[code]

[2017-01-05 00:04] brianmingus commented on #415
Even with the above hack this is not fully fixed. Many labels are not fully rendered. This is disastrous for me..

[2017-01-09 19:55] amichaut commented on #14
Is it planned to add latex rendering to the next release?

[2017-01-24 22:14] anderson-dan-w opened #416 "Bar charts lose hatching with mpld3 in notebook"
I'm working in jupyter-notebook, and gotten most things working so far, but ran into this discrepancy, where bar-charts using the `hatch` keyword lose their "hatchiness" when displayed through `mpld3`.

Minimum example:

[code]

If I run the code as-is, I get hatch-marks on the bars. If I run either `mpld3.enable_notebook()` or `mpld3.display()`, then the hatch marks go away.

Small debugging note

[2017-01-27 04:36] etgalloway commented on #398
It's time (actually past time) to close this issue.

@smaret Apologies for the lack of release notes, etc.  Ultimately, the v0.3 release was about getting something out the door, sooner rather than later, without much consideration to milestones, etc.

[2017-01-27 04:36] #398 closed

[2017-02-07 21:09] WaylonWalker commented on #188
[code]

allows the lines to show up, but the hover, pan, and zoom tools still do not work on the lower axes.

[2017-02-11 23:07] NathanKun commented on #370
Same here.
mpld3.v0.3.js:1524

[2017-02-12 14:53] michhar opened #417 "yticks Y-tick labels not showing up"
Hi,
I'm plotting with subplots and the zoomed out plot does not show y-tick labels, however when zooming in with the functionality given with this package the y-tick labels show up, but the data in the display goes blank.  Please help/advise.  This is my data (DataFrame), code and two attached images of what's going on.

Data:

[code]

Code:

[code]

Plots:

<img width="377" alt="screen shot 2017-

[2017-02-14 02:47] etgalloway commented on #417
This is a bug, thanks for the report and for the working example!

I used `visualize_tests.py` to do some comparisons.

A screen capture of the initial view of  `mpld3` vs `matplotlib`:
![comparison](https://cloud.githubusercontent.com/assets/7275733/22911821/6eaeb3e6-f227-11e6-8eae-9e9f9f6f5cd4.png)
The `mpld3` image is inverted (another bug, possibly related to #198).

After applying box-zoom:

[2017-02-22 03:41] cqcn1991 opened #418 "PointClickableHTMLTooltip not working under Python 3, reporting not JSON serializable"
Following from https://github.com/mpld3/mpld3/pull/330#issuecomment-281403984
I use the code

[code]

When using `targets`, the notebook gives me error

`<map object at 0x0000000008F85908> is not JSON serializable`

From that discussion, it seems like a problem with Python 3. Is there any way to solve it? And how can I help it?

[2017-02-22 19:09] etgalloway commented on #418
The notebook example that you provided is a little bit different from the one referred to in #330.

Here is the original with the map objects replaced with list comprehensions:
[code]
There is one more JSON serialization error that needs to fixed. In git master:
[code]
This should be enough to fix the JSON serialization errors.

The fix to `plugins.py` needs to be turned into a PR.

[2017-02-23 01:48] cqcn1991 commented on #418
@etgalloway BTW, how should I dev for package? I mean, how I change the code locally to test if I can solve it? Should I change the package I installed, or copy one and use something like `import`?

Is there any reference on it?

[2017-02-23 02:14] etgalloway commented on #418
[CONTRIBUTING.md](../blob/master/CONTRIBUTING.md) describes what you need to do.

[2017-02-23 03:31] cqcn1991 commented on #418
That's quite a a lot of work. I give it try just in notebook, simply duplicating the code,

[code]

This works pretty fine for the links.

The main problem seems to be

[code]

There are 2 points:

1. Why use css like this?
css attribute is also used in `PointHTMLTooltip`. but it didn't use `css` this way. I don't understand the necessity using the `styled_targets`

2. If I just use `targets`, the

[2017-02-24 15:33] etgalloway commented on #418
Working in the notebook is certainly easier than cloning `mpld3` and hacking away at `plugins.py`.

The tooltips that are enabled by `PointHTMLTooltip` are styled by the CSS associated with the page.  That CSS is not applied to the popup windows that `PointClickableHTMLTooltip` creates, hence the need to style `targets`.

[2017-02-24 17:11] sglebs opened #419 "Malformed HTML template"
You have 3 templates, such as:

[code]

This is malformed. <style> should be in head.../head but div should be inside body.../body.

The same problem exists in REQUIREJS_HTML , GENERAL_HTML.

[2017-02-26 13:25] darjusp opened #420 "Is there a way to use just html layout and avoid maplotlib graphs?"
Hi guys,

i would like to avoid maplotlib plots as a basis and rather use html tables to present visuals. Is there a way to input html code with predefined <divs> at the begnining and then call them while creating custom plugin in JAVASCRIPT space?

If so then the question how to connect plugin with mpld3 and display without having plots? As now i found only this option _plugins.connect(fig, Hello

[2017-03-01 22:52] syaffers opened #422 "Applying PointLabelTooltip on multiple scatter collections"
Hi guys, I'm plotting multiple scatter points for a combined interactive legend and tooltip functionality on my plots. I realized that the `PointLabelTooltip` takes a single axes collections object but since I perform `ax.scatter` multiple times, I have multiple collections and have to iterate over the `ax.collections` and match the scatter groups separately. Is there a cleaner way to do this like

[2017-03-02 14:16] etgalloway commented on #422
Something like this should work:
[code]

[2017-03-03 13:13] foufara4853 opened #423 "Help !"
Hi,
this might not be the right place to ask ?
I want a figure with on the left a scatter plot, and on the right a plot of serveral curves.
Each curve on the right corresponds to one and only one point on the left.
I would like the corresponding point to highlight when I mouseover a line.
Is that possible ?
Can anyone give me an example of that ?

Thanks a lot !
Raphaël

[2017-03-03 13:54] etgalloway commented on #423
It is probably better to ask questions on StackOveflow.

This example displays a curve when you hover over a data point: http://mpld3.github.io/examples/custom_plugin.html

[2017-03-03 13:57] foufara4853 commented on #423
Yes Thank you. I saw that example. But I don't know anything about js. I thought someone could give me a very simple example I could adapt. I'll try StackOverflow.
Thank you for your answer.

[2017-03-04 09:40] #422 closed

[2017-03-07 11:19] syaffers opened #424 "Redrawing plots cause HTML tooltips to not appear"
I have a situation where plots are loaded via ajax but due to the complexity of the plots, I want to only show a few of the plots as to not overburden the browser. The way I approach this is to delete the children of the plot container `div` and to redraw the plots when a user triggers a click. I can draw the plot for the first time but when I redraw the plot the HTML tooltips do not appear.

Plea

[2017-03-07 16:10] skiniry opened #425 "How to change position of home icon?"
Hi, Just wondering if anyone can point me in the right direction as to what files I should be editing to change the position of the plugin icons in the bottom left corner of the plots?

[2017-03-08 01:13] etgalloway commented on #425
These lines set the position of the toolbar: https://github.com/mpld3/mpld3/blob/3a7c29ad7e76186737cd91af22c5e7b7ed852ca3/src/toolbar/toolbar.js#L54-L55

[2017-03-08 11:56] skiniry commented on #425
Perfect, thank you.

[2017-03-08 11:56] #425 closed

[2017-03-11 15:42] blink1073 commented on #301
Closing as stale.

[2017-03-11 15:42] #301 closed

[2017-03-18 07:59] diazona commented on #417
I'm also experiencing what looks like the same bug. It's kind of a serious issue. @etgalloway can you elaborate on why it will probably not be fixed soon?

[2017-03-21 05:10] amnona opened #426 "interpolation='nearest' does not work with matplotlib 2.0"
Trying the "Image with Mouse Position" example, nearest interpolation does not work with matplotlib 2.0. In same code, interpolation works when using matplotlib 1.5 instead (both installed using conda install)
BTW: thanks for this amazing package :)

[2017-03-21 18:52] iamonuwa commented on #115
Use //url

[2017-03-21 22:31] aikramer2 commented on #417
👍 for issue

[2017-03-28 01:44] etgalloway commented on #417
@diazona: Nothing in particular is holding up the fixing of this bug (as far as I know). I will take a look at it sometime this week.  Perhaps it's an easy fix.

[2017-04-01 02:59] diazona commented on #417
@etgalloway Thanks for that. If it could be fixed quickly that would be a great help. I'd give it a try myself if I weren't so busy this week.

[2017-05-26 07:34] eadygol commented on #65
Hi, thanks for the great project. Has there been any progress on this issue? Has the plugin / feature been developed? Specifically, I am referring to "option to set the canvas size to the bounding div." Thanks.

[2017-05-28 09:35] clouds56 opened #428 "Is it possible to regenerate hist when zoom in"
if I zoom-in/scale to a new range of a histogram, there may only 1 or 2 bins in the visible area.
Could the mpld3 auto re-run the plt.hist within the new range (or at least add a button to force "refresh" the hist).
When zoom-out, auto fallback to global/original histogram.

e.g.
[code]

[2017-06-06 16:40] aaronjmaxwell commented on #198
Has there been any motion on this?  I'm using `mpld3` version 0.3, and I've been having trouble with `matplotlib.pyplot.imshow()` of a `numpy.histogram2d` object.  Using `mpld3` on the figure does not register the `origin = 'lower'` keyword argument, so my image is flipped.  The following code snippet shows what's wrong:
[code]
The `origin = 'lower'` yields:
![lower](https://user-images.githubuser

[2017-06-06 18:40] nt1st opened #429 "NetworkXd3 Force Layout demo broken"
The demo in the example gallery [here](http://mpld3.github.io/examples/networkxd3forcelayout.html) pauses on Chrome and Internet Explorer and becomes completely unresponsive. The code at the github repo [here](https://github.com/kdheepak/mpld3_plugins/blob/master/mpld3_plugins/plugins/networkxd3forcelayout.py) exhibits the same behavior when run.
Despite this, the link to @kdheepak s blog shows a

[2017-06-14 05:06] gelin commented on #296
Even text on the main figure is not rendered.
[code]

[2017-06-16 10:00] quertenmont commented on #415
Just resize your axis,
I reduce the width of the plot to 90% of it's original width in order to let a bit more space to the legend:
box = ax.get_position()
ax.set_position([box.x0, box.y0,box.width*0.9 , box.height])

That does the trick for me, although I agree that it would be nice to have this automatically done by mpld3

[2017-06-24 23:50] ocefpaf commented on #275
Closing this. Not sure if the issue is fixed but it is easy to workaround it.

[2017-06-24 23:50] #275 closed

[2017-07-10 22:38] kealiegoodwin commented on #227
The panning function doesn't also doesn't work for scatterplots when either of the axes is in log scale. This seems to be a problem only for scatter, and not plot. One work around is to use plot instead of scatter.

`ax.plot(x, y, marker='o', linestyle='')`

rather than

`ax.scatter(x, y)`

Finally, the axis labels are a bit weird, for instance:
![image](https://user-images.githubusercontent.com/9

[2017-07-18 12:42] kegaub commented on #191
Hi,

I have a problem with the interactive legend plugins on IE. Even on the mpld3 example gallery, the exemple of interactive legend doesn't work. Any idea why ? Or any fix ?

This is the example i'm referring to : [https://mpld3.github.io/examples/interactive_legend.html](url)

![interactive_leg](https://user-images.githubusercontent.com/22378612/28317455-80c3b8d4-6bb6-11e7-8985-99358190da8a.png

[2017-07-18 15:24] jakevdp commented on #191
It works on Chrome. It's probably an IE issue – to be honest, nobody is really maintaining mpld3 at the moment, so the likelihood of this problem being fixed is small. That said, it's an open source project, so if you figure out a solution, you're welcome to send a PR.

[2017-07-18 15:28] bryevdv commented on #191
@jakevdp just a gentle suggestion, but we made a prominent header at the top of the `bkcharts` README that states that the project does not have an active maintainer (but that anyone who want to become the maintainer is welcome to). You might consider doing the same?

[2017-07-18 15:36] jakevdp commented on #191
Thanks @bryevdv – I added a note to the README.

[2017-07-18 15:39] bryevdv commented on #191
It just occurred to me I might add a message to the `bkcharts` issue template too... the world is going to bury us with our own software isn't it :)

[2017-07-19 11:40] kegaub commented on #191
I found the error. In the plugins.py file, in the InteractiveLegendPlugin class. There's a declaration in the line 582 and in line 614 that cause the error in IE. It's for
line 582  var type = d.mpld3_elements[i].constructor.name and in
line 614 var type = d.mpld3_elements[0].constructor.name
_anyfunction_.name is not supported in IE so those two lines return undefined.

I replaced them with
var t

[2017-08-08 15:50] ilovecheez1 opened #430 "TypeError: Object of type 'map' is not JSON serializable"
I got a really long error, almost longer that my code saying ,

But I have no idea why because I never used anything including JSON, unlike many other questions like this. Anyway, here is my code (in python):

[code]
FYI, "plt" is plotly.offline

The super long error message I got was this:

[code]
If you would like me to send you more of my code if necessary, that would be fine. Incase it is nece

[2017-08-17 11:23] keshavnagpal commented on #417
Still Waiting for it to be fixed!

[2017-08-17 16:04] bryevdv commented on #417
From the current project README and GitHub project page:

[2017-08-18 10:42] pallavbakshi commented on #269
I am still facing the issue and I don't have any pyc file

[2017-08-31 01:00] shaoeChen opened #432 "question about fig_to_html"
dear..
i try to build api server by flask and mpld3 to return plot
and  i find something
if i use fig_to_html to show the plot, my server's ram usage is more and more
[code]
it's a very easy sample but still make my ram usage more and more...
![image](https://user-images.githubusercontent.com/28851695/29901372-38343dd2-8e2a-11e7-83d2-fa6d8586d2bb.png)
and it's never Release memory until i close th

[2017-09-06 12:13] elomatt commented on #188
Unless I'm much mistaken this is still an issue. Using `ax2.patch.set_alpha(0.0)` I can see both my twin plots, but zoom/pan still only works for the top axes. The both graphics change, bu only the x-axis and secondary y-axis respond to the new scaling.

[2017-09-10 04:24] fronchetti commented on #188
Another problem I found is if you try to use three x-axis. The third one should be in the right as described in [this example](https://matplotlib.org/examples/pylab_examples/multiple_yaxis_with_spines.html), but It's not working as it's supposed to be. The third one overriddes the second. The zoom tool still not working with twinx() method for me. Hope you can fix it soon (If I have free time, I'l

[2017-09-10 04:36] bryevdv commented on #188
@fronchetti this project is no longer maintained, and has not been for a few years. From the README:

There are lots of other web/notebook plotting options for Python: altair, bokeh, bqplot, just to name a few. [disclosure: I am a Bokeh core dev) Or if you are interested in taking ownership of this project, I'd suggest emailing Jake.

[2017-09-10 04:40] fronchetti commented on #188
Ouch! I didn't saw this information in their website. I just came here looking for issues that could solve my problem. Thank you @bryevdv, I'll try another plotting option.

[2017-09-13 01:22] petergaultney commented on #430
Having seen this error myself, my guess would be that one of your inputs (either `lines`, `edge_info`, or `trace2`) might actually be a lazy map generator - i.e. the result of something like `map(str, range(0, 10)`. Since Plotly is declarative, that generator gets placed directly into the figure as a generator, not as a fully-resolved list. And then when `plot` is called, it isn't properly 'resolv

[2017-09-19 11:27] eduardorochasoares commented on #175
How to set position of the graphic on browser?

[2017-09-21 14:05] sangaline commented on #290
Another more direct workaround is to leave the labels off of the scatter plots and then plot empty arrays with `ax.plot()` to populate the legend. So instead of

[code]

you can do

[code]

and the legend will include the colored markers.

[2017-09-26 14:45] DanielAndreasen commented on #227
It's a poor workaround though, if one wants to color the points.
This is still an issue, and I'm not sure why it's closed. Ping @jakevdp?

[2017-09-26 16:45] kpretz commented on #227
You can set the point colors using the args 'markeredgecolor' and 'markerfacecolor' - so I think it's still a fine workaround. You have nearly all the same control over plot style with plot compared to scatter.

plot docs here: https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.plot.html

[2017-09-26 17:15] DanielAndreasen commented on #227
Forgot about that, but not exactly what I mean.
1) It was not a critique against your suggestion. That suggestion is better than nothing.
2) I mean to color each point in a different color (according to some value) like: `plt.scatter(x, y, c=z)`, and have a `colorbar` as well. Not sure if `plot` can do this.

Anyway, thanks for your respond.

[2017-09-26 17:18] kpretz commented on #227
Good point. Thanks for the clarification. Obviously, being able to use both scatter and plot as designed would be ideal.

[2017-09-28 16:09] jbuyl opened #433 "Can't customize multi-scale time format"
d3 supports multi-scale time formats (https://github.com/d3/d3-time-format#d3-time-format) and these work great in mpld3 too, but there's currently no good way of customizing the time format used, for example, I wanted to use `%H%M` to show minutes instead of `%I%M`.

Matplotlib supports multi-scale time formats too, and they're easily modified in a [matplotlibrc](http://matplotlib.org/users/custo

[2017-10-13 11:47] omn14 opened #434 "PatchCollection - TypeError: array([ 1.]) is not JSON serializable"
I want to make a .html with a plot of some patches in a patch collection.
Im running the example from "https://matplotlib.org/examples/api/patch_collection.html"

Could someone please help?

thanks,

i get this error:

  File "ttt.py", line 55, in <module>
    htmlfil.write(mpld3.fig_to_html(fig))
  File "/usr/local/lib/python2.7/dist-packages/mpld3/_display.py", line 251, in fig_to_html
    figur

[2017-10-17 15:00] severinsimmler commented on #426
Will this bug be fixed in the near future? Or does anybody have more details about this?

[2017-10-17 15:11] bryevdv commented on #426
From the README:

[2017-10-17 15:23] severinsimmler commented on #426
Ah, good to know!

[2017-10-17 20:07] deepyaman commented on #290
https://github.com/mpld3/mplexporter/pull/54 should fix this issue!

[2017-10-27 12:52] jaklinger commented on #193
I fixed this by adding the line

`	elif isinstance(obj, (numpy.ndarray,)):
            return obj.tolist()`

to /mpld3/_display.py: NumpyEncoder

[2017-10-29 11:39] shouldsee commented on #434
I was having a similar error. It seems `matplotlib.collections.pathcollection` did not sanitise its dictionary enough and mpld3 relies on a "NumpyEncoder" serialise the dictionary.

Fix:
In `_display.py`
[code]

[2017-11-05 18:01] merjekrepo opened #436 "fig_to_html() in Django - main thread is not in main loop Error"
Hi, I am using Matplotlib and mpld3 in a Django environment. My purpose is to plot a figure on a web page. I don't want to launch a new browser. Instead, I only want my figure embedded in a specific location in the page.

Here is my Python code for in my views.py:

[code]

And here is my web page:

[code]

If I run this, I get the "main thread is not in main loop" error.

I would be glad if anyone

[2017-11-05 23:24] merjekrepo commented on #436
Ok, I've solved this issue, but using the json.dumps fand mpld3.fig_to_dict functions.

[code]

Now, using the json.dumps, I can get the figure embedded on the location where I want. But it was still giving the "main thread is not in main loop" error after refreshing the page. As you can see, I added the plt.close() function which cleans the memory from the loaded images (I guess so) and I no long

[2017-11-06 07:29] orkun opened #437 "to get grid values instead of mouse coordinates"
Hi,
Looking up to "Image with Mouse Position" example.
I need to get grid values instead of mouse coordinates.

I will appreciate if you supply hints.

regards

[2017-11-06 10:54] JaksaVucicevic opened #438 "custom plugin with a toolbar button"
I'm trying to add a custom plugin which will be applied using a toolbar button, like ResetPlugin.

Using the following code in javascript
[code]
I am able to register the plugin ```"swap"``` which is seen in ```mpld3.plugin_map``` but there is no button apearing in the toolbar. It appears the SwapPlugin constructor is never called (I get no corresponding ```console.log``` output). Am I supposed to

[2017-11-28 14:25] chyan26 opened #440 "Type error when making error bar plot"
The following code cause the type error when making the plot.   Trace back is attached in the end.

import matplotlib.pyplot as plt
import numpy as np
import mpld3

%matplotlib inline
mpld3.enable_notebook()
np.random.seed(1)

x = np.linspace(0, 10, 100)
y = np.sin(x)
xdata = 10 * np.random.random(25)
dy = 0.2 + 0.2 * np.random.random(xdata.shape)
ydata = np.random.normal(np.sin(xdata), dy)

fig,

[2017-12-05 13:27] andreatramacere opened #441 "bug in fig_to_html, TypeError: array([ 1.]) is not JSON serializable"
It happens when adding  colorbar to 2D images generated with imshow, only on Mac.

mpld3.__version__='0.3.1.dev1' (failing also in previous versions)

matplotlib.__version__='2.1.0'

`import matplotlib.pyplot as plt, mpld3
import numpy as np
fig,ax=plt.subplots(1,1)
im=ax.imshow(np.zeros((100,100)))
fig.colorbar(im, ax=ax)
mpld3.fig_to_html(fig)
`

[2017-12-07 22:55] daniellivingston commented on #440
Does this error still happen if you convert your arrays to a list?

[2017-12-10 13:25] hchaithanya commented on #434
I am facing similar error or my python code: analyse.py:
[code]

[2017-12-18 08:36] jdoepfert commented on #297
+1

[2017-12-20 01:52] josephrich commented on #193
Thankyou @jaklinger this worked!!!

[2017-12-20 15:37] rliekarmp commented on #434
Thanks shouldsee! Your fix solved my save_html problem. I was getting "array is not JSON serializable html" when trying to save a scatter plot.

[2017-12-22 00:57] nicewoong commented on #441
- I got the same error.
- What is your python version ?

[2017-12-22 12:39] dmitry-po opened #442 "Multiple plugins"
Hi!
I'm wondering: is it possible to use PointLabelTooltip and InteractiveLegend plugins at the same time on one plot?

[2018-01-15 05:32] sunilm12 opened #444 "timestamp ticks are rendered as in unsigned int when saved as html file"
I am trying to plot an line graph which has timestamp on x-axis and count on y-axis. The output of matplotlib plot is stored in an html file using mpld3 save_html() method. when the code is run on windows platform, the output is rendered correctly as proper date/time stamp. However when the same is run in amazon arch linux , the html file shows the x-axis ticks as unsigned integer.

![timseries-de

[2018-01-31 08:05] soedr commented on #398
@etgalloway are you aware of any developments regarding the ability to rotate axis labels? Thanks in advance.

[2018-02-12 12:05] H0R5E opened #445 "TypeError: n.getMilliseconds is not a function"
Hi, I am trying to use mpld3 through anaconda, in a jupyter notebook. I have version 0.2 installed. I am getting the following error when plotting a multi-line time series plot:

[code]

Can anyone give me some advise as to what is going is on?

Many thanks!

[2018-02-16 20:26] aarumuga commented on #128
I am trying to display multiple htmltooltip plugin plots in a page. The plots shows up. But the HTMLtooltip plugin doesnt work.

[2018-03-01 15:19] bobleujr commented on #434
It seems to me that this issue hasn't been solved in the latest release? I've got the latest version and had to fix it manually too. Thanks anyway @shouldsee !

[2018-03-01 17:09] aflaxman commented on #434
I'll merge a pull request if someone creates one.  Bonus points if the automatic tests all pass!

[2018-03-02 15:20] Madhivarman opened #446 "Value Error : Circular Reference Detected from /usr/lib/python3.5/json/encoder.py"
I am trying to visualize cluster in mpld3 (web browser) . Plots are made in the graph but when i try to visualize the graph using mpld3.display() it shows me Value Error

[code]
The code i used to plot the graph
[Code Used to Cluster](https://github.com/Madhivarman/DR/blob/master/clustering/Clustering.ipynb)

if i remove mpld3.display() from the code , the graph get plotted . But when i use mpld3.

[2018-03-03 07:06] #446 closed

[2018-03-06 15:09] dparks1134 commented on #441
I am also getting the same error. I'm using Python 2.7.4, mpld3 v0.2, and matplotlib v2.1.2. I believe the issue is with matplotlib. Are there plans to update mpld3 to be compatible with the latest version of matplotlib?

[2018-03-06 22:13] TastyMuffins commented on #434
Suggested fix also resolved my issue.

[2018-03-12 11:23] jason-neal commented on #434
Since javadba did not make a PR out of their commit I duplicated it.

[2018-03-12 15:06] jpiabrantes opened #448 "fill_between not working in mpld3"
When I try to use `fill_between` with `mpld3`:

    import mpld3
    import matplotlib.pylab as plt

    fig, ax = plt.subplots()
    np.random.seed(0)
    x = np.arange(20)
    y = np.random.normal(size=20)
    points = ax.plot(x,
                     y,'o-', alpha=0.5,
                     markersize=10, markeredgewidth=1, lw=1)
    lines = ax.fill_between(x, y+0.5, y-0.5)
    mpld3.show()

I ge

[2018-03-12 20:20] aflaxman commented on #448
This project is not really supported anymore, but pull request #447 might have just fixed your issue. Good luck!

[2018-03-12 21:02] bryevdv commented on #448
@aflaxman Perhaps it would be helpful to update the issue and PR templates to indicate this, in addition to the README

[2018-03-12 21:20] aflaxman commented on #448
@bryevdv : this sounds like a good idea, thanks.  For anyone who wonders how to do it, or change it, see https://help.github.com/articles/creating-an-issue-template-for-your-repository/

[2018-03-16 00:31] pranet opened #449 "xticks rotation being is ignored"
I am trying to rotate the labels on the x axis by using plt.xticks(positions, labels, rotation=90). While it is working fine using plt.show(), mpld3.show() is completely ignoring the rotation parameter and displaying text horizontally (0 rotation) instead.

Can someone suggest a workaround please?

[2018-03-21 23:24] NicWayand commented on #370
Same here.  mpld3.v0.2.js:1472
Any workarounds or ideas on how to fix?

[2018-04-17 11:53] beukueb commented on #434
This is still an issue with
`matplotlib==2.2.2
mpld3==0.3`

I fix it manually by overwriting mpld3._display.NumpyEncoder in my program

`#mpld3 hack
class NumpyEncoder(json.JSONEncoder):
    def default(self, obj):
        import numpy as np
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return json.JSONEncoder.default(self, obj)
from mpld3 import _display
_display

[2018-04-21 04:34] Kamakshaiah commented on #283
It crashes after 7th statement i.e. mpld3.display(fig) the error is as follows:

`tkinter.TclError: can't invoke "wm" command: application has been destroyed`

Any solution please

[2018-04-25 20:16] ceprio commented on #441
I found a fix to this one: you can edit the _display.py file found in Lib\site-packages\mpld3 and replace the NumpyEncoder class by this one:
`class NumpyEncoder(json.JSONEncoder):
    """ Special json encoder for numpy types """

    def default(self, obj):
        if isinstance(obj, (numpy.int_, numpy.intc, numpy.intp, numpy.int8,
            numpy.int16, numpy.int32, numpy.int64, numpy.uint8,

[2018-05-15 09:30] padmaksha18 commented on #193
@jaklinger , Hi there, thanks for your suggestion, it works perfectly! I just wanted to clarify one thing - i converted the numpy array to a dictionary and tried to return it but it was throwing error "float 32 is not json serializable", although there was no issue with the dictionary, printed and checked it. Just by using your tolist() method it converted the array to python list.
previous :[100.

[2018-05-15 10:36] jaklinger commented on #193
@padmaksha18 I'm not 100% sure what you mean by

but (in short) `numpy` and `python` types aren't the same (`float32` is not the same as a `float`; an `array` is not the same as a `list`, etc) and the [JSONEncoder class](https://docs.python.org/3.6/library/json.html#json.JSONEncoder) only 'allows' native `python` types. So... the point of [this function](https://github.com/mpld3/mpld3/blob/master/

[2018-05-15 10:49] padmaksha18 commented on #193
@jaklinger :Hi Joel, thanks a lot again. By converting to a dictionary i just meant that i took two such arrays and formed a key value pair, sorry for not explaining it clearly. Thanks a lot for making this thing clear to me, i must convert it to native python type first and that was the issue. Just wanted to make one more thing clear, like if don't jsonify a dictionary and try to return it as it

[2018-06-21 18:29] danieljmr commented on #276
Hi Aflaxman,

I was struggling to add tooltips to the bars using PointHTMLTooltip. After replacing it by LineLabelTooltip and understanding that bars are composed by rectangle patches it worked!
Thank you very much for that...
One more question though... How can add a customizable ccs for the LineLabelTooltip plugin? I would like to format the tooltips as left arrows (.tooltip .tooltiptext::after)

[2018-06-22 14:54] danieljmr commented on #276
Replacing LineLabelTooltip by LineHTMLTooltip and wrapping the label in tooltip html tags worked.
Like:
label="<div class=\"tooltip\"><span class=\"tooltiptext\">"+ thisLabel + "</span></div>"

[2018-06-23 07:13] rileypeterson opened #452 "Disappearing markers when NaN values are plotted"
When plotting multiple points with the same x value, if some of the y values are NaN, then other non-NaN markers fail to display:
# from within a jupyter notebook
[code]

[2018-07-08 07:41] ja4nm commented on #436
Better late than never... This is how I got away whit using html_to_fig().

[code]

[2018-07-12 21:32] addinall commented on #434
Is there a production fix for this as yet?  I introduced mpld3 into a Python project and am getting the same errors.  Cheers!

[2018-07-12 21:45] jason-neal commented on #434
This fix should be resolved in master. There has not been a release of mpl3d in almost 2 years. i do not know when/if there will be another as it is not actively unmaintained...

[2018-07-12 21:50] bryevdv commented on #434
@aflaxman @jakevdp perhaps it would be worth considering archiving this repository to indicate more clearly that the project is unmaintained:

https://help.github.com/articles/archiving-a-github-repository/

I did this for `bokeh/bkcharts`

[2018-07-13 23:00] aflaxman commented on #434
@cliffckerr and company are planning to revive this project!  if that has changed, i think archiving is a great idea.

[2018-07-13 23:23] shouldsee commented on #434
I have missed the days with mpld3+ Django. Not sure I will be of any help but please keep this alive!

Sent from my iPhone

On 14 Jul 2018, at 00:01, Abraham Flaxman <notifications@github.com<mailto:notifications@github.com>> wrote:

@cliffckerr<https://github.com/cliffckerr> and company are planning to revive this project! if that has changed, i think archiving is a great idea.

—
You are receivi

[2018-07-16 00:18] addinall commented on #434
Thanks all.  I did not realise the code was unmaintained.  It sounded perfect for my needs.
Cheers, Mark.

[2018-07-23 09:15] cliffckerr commented on #434
@addinall @aflaxman We are indeed reviving it! We are currently working on our fork (https://github.com/optimamodel/mpld3) but once everything is stable we'll be merging back here.

[2018-07-23 20:17] aflaxman commented on #434
👍

[2018-08-07 23:49] michael-sbarra commented on #438
`
class SwapPlugin(plugins.PluginBase):
    JAVASCRIPT="""
    mpld3.register_plugin("swap", SwapPlugin);
    SwapPlugin.prototype = Object.create(mpld3.Plugin.prototype);
    SwapPlugin.prototype.constructor = SwapPlugin;
    SwapPlugin.prototype.requiredProps = [];
    SwapPlugin.prototype.defaultProps =  {
      button: true,
      enabled: true
    };
    function SwapPlugin(fig, props) {

[2018-08-11 08:50] #445 closed

[2018-08-17 14:23] bensongcorning opened #453 "Using fig_to_html with MPL hist2d"
Note: mpld3 is no longer being actively maintained: feature requests & bug reports are likely to go unanswered. If you are interested in maintaining this project, please contact one of the repository owners.

Having an issue where the HTML version of my plot is looking blurry compared to the direct output from MPL figure. See below post for pics of both. Anyone run into a similar issue?

https://i

[2018-10-17 10:59] bbudescu commented on #441
For matplotlib version 2.2.3, I found it to be enough to convert linewidths from numpy arrays to lists in mpld3.mpld3renderer.MPLD3Renderer.draw_path_collection.

[2018-12-29 19:30] chytrik commented on #193
pip install "git+https://github.com/javadba/mpld3@display_fix"

[2019-01-03 15:59] jjaimon commented on #434
Similar issue exists with fig_to_dict() as well.  The returned dict cannot be serialized to json due to included ndarray unless right encoder is passed.   One way to ovecome the issue is by using the internal NumpyEncoder class itself.  For eg.
[code]

[2019-01-25 08:47] WeiZhou2372 commented on #349
interested..... it's been these many years. Is there anyone working on this project?

[2019-03-13 14:52] tivaro opened #458 "InteractiveLegendPlugin for mpld3_Text"
Great work on the `InteractiveLegendPlugin`! It would be great if it could support `mpld3_Text` as well! (e.g. for turning on/ off lines with annotations)

[2019-03-14 04:09] carlosa2 commented on #434
Thank you very much!
You´re a genius!
And I know that because I barely know anything of python and I was able to fix it myself.

[2019-03-14 20:45] boblef opened #459 "Question about when zooming in."
Note: mpld3 is no longer being actively maintained: feature requests & bug reports are likely to go unanswered. If you are interested in maintaining this project, please contact one of the repository owners.

I am trying to display a matplotlib figure with mpld3 that contains 4 subplots in a Flask application. The problem is that the scale of each plot is not going to be the same scale when I zoom

[2019-03-19 14:20] parhammmm commented on #453
This is an interpolation issue. `mpld3` is not correctly translating the interpolation properly from `matplotlib`

See here: https://matplotlib.org/gallery/images_contours_and_fields/interpolation_methods.html

A possible immediate fix could be setting the following CSS:

[code]
change `#fig000` to your figures id.

We wont be able to easily support all the interpolation types but I think it would

[2019-03-20 14:27] parhammmm commented on #426
Some notes on this here: https://github.com/mpld3/mpld3/issues/453#issuecomment-474391554

[2019-03-21 13:23] parhammmm commented on #332
This might possibly be fixed in the next coming release.

I'm not sure if we're having the same issue but here is what I get when I try to replicate this case.

Using below with `visualize_tests.py` outputs the results that follow:

[code]

Matplotlib output:

<img width="508" alt="Screenshot 2019-03-21 at 14 19 51" src="https://user-images.githubusercontent.com/451847/54754704-69bafe80-4be4-11e9-

[2019-03-21 13:27] parhammmm commented on #417
Is the inverted bug the same as #332 & #198

If so does this comment might be relevant: https://github.com/mpld3/mpld3/issues/332#issuecomment-475226459

[2019-03-21 13:50] parhammmm commented on #416
The results for reference. This is currently not implemented.

<img width="1084" alt="Screenshot 2019-03-21 at 14 49 04" src="https://user-images.githubusercontent.com/451847/54756426-7f322780-4be8-11e9-9937-5bcd51356acc.png">

[2019-03-21 15:00] parhammmm commented on #424
This happens because internally mpld3 stores the elements in `mpld3.figures` and searches them by id. So what is happening is that mpld3 thinks `#plot` is still in the dom and is associating the events to the first figure it finds in `mpld3.figures`.

The fix would be to have a proper remove_element function for `mpld3`. As a temporary work around you can make sure to give all your figures a uniqu

[2019-03-21 15:39] parhammmm commented on #444
Not able to replicate this issue on Arch Linux, however the cleaned up code to run with `visualize_tests.py` for future reference is:

[code]
Output:

<img width="1338" alt="Screenshot 2019-03-21 at 16 38 26" src="https://user-images.githubusercontent.com/451847/54764291-c7a51180-4bf7-11e9-8017-b9ec26da5bda.png">

[2019-08-09 09:18] abnitchauhan opened #460 "AttributeError: 'list' object has no attribute 'canvas'"
I am trying to save the data in json or in html(one way or the other). But during both the processes I am getting the Following ERROR :
[code]
I have included the all the required libraries , but still not able to figure out , what the problem is .

Here is the Code Which  I am using.
[code]

I am getting the graph If I am accessing it dircetly without trying to save. But I want to save the figure

[2019-08-09 15:48] bryevdv commented on #460
There has been no substantive public work on this project in more than five years. Here is an (incomplete) list of actively maintained Python visualization projects you should consider instead:

* [Altair](https://altair-viz.github.io)
* [Bokeh](https://bokeh.org)
* [Matplotlib](https://matplotlib.org)
* [Plotly](https://plot.ly)
* [Pyviz](https://pyviz.org)

[2019-08-09 16:19] ckerr-IDM commented on #460
@abnitchauhan @bryevdv Hi both -- that's not quite true, mpld3 is maintained on the fork https://github.com/sciris/mpld3, and we will be merging back into this version "soon" (we've had some staffing issues on our team which has delayed the merge).

@abnitchauhan , the reason for your error is that `plt.plot()` returns a "list of 2D plotted data", not a figure object. You had it almost right with

[2019-08-10 11:09] abnitchauhan commented on #460
@ckerr-IDM . Thank you for the above Answer that you provided . now the file is saved in html file as well as I am able to same file in json format.
But now , what I want is that to show the data in my webpage. there is no details provided about that in the gmpld3 github account regarding that.

[2019-08-12 06:50] cliffckerr commented on #460
@abnitchauhan Yes it's not completely straightforward using pure mpld3, which is why we developed [Sciris](https://github.com/sciris/scirisweb). The "Hello Graph" example does exactly what I think you're after: create a graph and display it in a webpage:
Python app: https://github.com/sciris/scirisweb/blob/develop/examples/hellograph/app.py
HTML: https://github.com/sciris/scirisweb/blob/develop/ex

[2020-01-09 03:59] kushagrasharma commented on #414
This issue still exists on the latest version of mpld3. Are there any plans to fix it?

[2020-01-09 04:14] ckerr-IDM commented on #414
Hi @kushagrasharma -- we have been continuing work on mpld3 at https://github.com/sciris/mpld3, and once we finish testing that fork, plan to merge back here. Are you able to test if this issue still exists on the master branch of that fork?

[2020-01-13 00:44] kushagrasharma commented on #414
Hi! I just checked the issue on that fork and it does still exist.

[2020-01-20 12:56] bluenote10 opened #461 "Releasing update on pypi?"
Would it be possible to release on updated version of mpld3 on pypi? I'm aware that the project isn't actively maintained anymore, but there have been a few bugfixes after 0.3 and it would be nice to have them on PyPI.

[2020-01-25 00:47] sjlukacs commented on #175
i've set figsize to (2,1.5), (4,3), (8,6), (16,12), (32,24) and none changed the size on the web page.  any other suggestions?

[2020-01-25 02:56] cliffckerr commented on #414
@kushagrasharma OK thanks for letting us know, we'll look into it!

[2020-01-25 03:09] ckerr-IDM commented on #175
@sjlukacs I'm having trouble reproducing the problem for me,  -- could you please share the code you're using? I just tried this example, and it works for me to change `figsize` from e.g. `(10,10)` to `(10,5)`:

[code]

[2020-01-25 04:33] sjlukacs commented on #175
os.environ['MPLCONFIGDIR'] = tempfile.mkdtemp()
import matplotlib
matplotlib.use("Agg")
import matplotlib.pyplot as mat_plt, mpld3

def plot(array):
    mat_plt.style.use('dark_background')
    mat_plt.figure(figsize=(2, 1.5))
    fig, ax = mat_plt.subplots()
    ax.plot(array[0], array[1], 'ow', linewidth=1.5, markersize=6.0)
    make_html = mpld3.fig_to_html(fig)
    mat_plt.close('all')
    ret

[2020-01-29 20:04] ckerr-IDM commented on #175
Hi @sjlukacs , sorry for the slow reply. The problem is with:
[code]
The first line creates a figure of the correct size which isn't used, while the second line creates a figure of default size. You can replace both these lines with:
[code]

In general, it's usually a good idea to debug the Matplotlib figure first before trying to debug the mpld3 figure (of course for this you'll need to comment o

[2020-02-19 15:51] JordiBForgeFlow commented on #445
@H0R5E did you find the solution to this issue?

[2020-02-20 03:57] stephe-curry opened #462 "新手请求一个问题"
Note: mpld3 is no longer being actively maintained: feature requests & bug reports are likely to go unanswered. If you are interested in maintaining this project, please contact one of the repository owners.

运行visualize.test时出现这个错误No module named 'mpld3.mplexporter'怎么解决！

[2020-05-27 21:13] jonashaag commented on #441
Still an issue with latest version

[2020-05-27 22:12] JupyterJones commented on #441
@jonashaag  @ceprio 's commented on Apr 26, 2018 above, just now fixed it with me.

[2020-05-27 22:22] ckerr-IDM commented on #441
Hi @jonashaag and @JupyterJones , could you confirm if this is also issue on https://github.com/sciris/mpld3?

[2020-05-29 12:36] Carl-Analytix opened #463 "ndarray not JSON serializable"
Just making any figure and trying to call mpld3.show() gives this error.

[2020-05-29 19:51] ckerr-IDM commented on #463
Hi @Carl-Analytix , do you still get this if you use the https://github.com/sciris/mpld3 fork instead?

[2020-05-31 08:23] Wakaru-Science commented on #441
@ceprio 's comment worked for me too

[2020-06-07 17:09] ananthchellappa commented on #463
Novice user. Simple test case in Jupyter :
import numpy as np
from matplotlib import pyplot as plt
import mpld3
mpld3.enable_notebook()
x = np.linspace(0.1, 2 * np.pi, 41)
y = np.exp(np.sin(x))

plt.stem(x, y, use_line_collection=True)
plt.show()

You get (you do get the stem plot, but) :

---------------------------------------------------------------------------
TypeError

[2020-06-08 08:57] #441 closed

[2020-06-08 09:10] vladh opened #465 "Matplotlib 3.2.1 seems to not work"
[code]

[code]

We probably just need to take out `bivariate_normal`. I remember already having fixed this on some branch?

[2020-06-08 09:16] cliffckerr commented on #465
Hopefully just a broken test rather than broken code!

[2020-06-14 07:50] shadowboxingskills commented on #461
I needed the latest version as well, so I forked the source and released a new package separately on PyPI. You may use it to get MPLD3 v0.4.12 --> pip install mpld3-valuegrid
Hope it helps until next official release is out (last push was in 2016..)

[2020-06-14 08:05] cliffckerr commented on #461
Hi @bluenote10 and @shadowboxingskills -- we apologize for the delay! We just got permission to push to pypi yesterday, and are just doing some final-final checks before publishing it. So if you can wait 1-2 more days (hopefully that's not too much after 4 years...), it should be updated very soon. cc @vladh

[2020-06-14 14:01] Payamch commented on #463
@ckerr-IDM I get the same error, but this https://github.com/mpld3/mpld3/pull/447 should fix the issue. For some reason, the fix is not on master anymore

[2020-06-14 17:49] cliffckerr commented on #463
Thanks @Payamch and @ananthchellappa -- which version of mpld3 are you using? We're just about to push version 0.4.12 to pypi and I'm not able to reproduce that error there. If you're using the Anaconda version, that's probably still 0.3...

[2020-06-14 19:21] #465 closed

[2020-06-14 19:23] vladh commented on #463
@Payamch @ananthchellappa Thank you for your patience — I've pushed the latest mpld3 to PyPI (0.5.0), and I'm trying to determine which issues are still present. Could you please try with the latest version and let me know if your issue still occurs? :)

[2020-06-14 19:24] vladh commented on #462
@stephe-curry Thank you for your patience — I've pushed the latest mpld3 to PyPI (0.5.0), and I'm trying to determine which issues are still present. If you could describe your issue in English and/or let me know if it still happens on the newest version, that would be great. Otherwise, I'll close this issue.

[2020-06-14 19:24] vladh commented on #461
@bluenote10 @shadowboxingskills The latest version (0.5.0) is now on PyPI. Thank you so much for your patience! Could you let me know if the new version fixes things for you?

[2020-06-14 19:28] vladh commented on #460
@abnitchauhan I'll go ahead and close this issue. We've released the latest version of mpld3 on PyPI (0.5.0), but I don't think mpld3 makes it straightforward to do what you're trying to do. However, feel free to reply to this issue if I can help further!

[2020-06-14 19:28] #460 closed

[2020-06-14 19:33] vladh commented on #459
@boblef Sorry for the late reply. I've attached a GIF with the expected behaviour. Is this what you're seeing?

![mpld3_multiaxis](https://user-images.githubusercontent.com/291640/84602299-98c32d00-ae86-11ea-801a-6b5e1b824106.gif)

[2020-06-14 19:36] vladh commented on #453
@bensongcorning Let me know if you still need help with this issue or if I should close it!

[2020-06-14 19:37] #453 closed

[2020-06-14 21:16] bluenote10 commented on #461
Thank you very much! As far as I'm concerned the issue can be closed.

[2020-06-14 21:16] #461 closed

[2020-06-16 09:03] gurneyalex opened #466 "0.5.0: Crash at import: Permission Denied on creation of the _d3_snapshots"
Hello

When using 0.5.0 I get a crash at import time if the user does not have write access to the installation directory.

[code]

[2020-06-16 12:09] vladh commented on #466
Hey @gurneyalex, I've just released 0.5.1 which should fix this issue. Could you please give it a try?

[2020-06-16 18:35] shadowboxingskills commented on #466
v0.5.0 also crashed for me (same error message as @gurneyalex )
However, I installed v0.5.1 from PyPI and can confirm that the issue is fixed.
I have also tested the corresponding JS (on client side) and it works nicely as well.
Thanks @vladh for these great updates!

[2020-06-16 19:09] Payamch commented on #463
@vladh Ok so I had time to test couple of scenarios on your recent release (0.5.0). I found the following:

- mpld3.show() works for all my scenarios without issues.
- mpld3.fig_to_dict() throws another serializer issue. A minimum scenario where I reproduced the issue is:

[code]

This will cause a parsing error:

[code]

A workaround for me was to just simply import json and numpyEncoder, and cha

[2020-06-16 19:18] cliffckerr commented on #463
Thanks @Payamch -- @vladh just posted another update (0.5.1), and I'm not able to reproduce the serialization issue on that version. Could you please check if it's been fixed? And thanks for letting us know about the zoom issue -- we'll investigate.

[2020-06-16 21:31] gurneyalex commented on #466
Thanks for the super fast fix @vladh, version 0.5.1 fixes the problem.

[2020-06-16 21:31] #466 closed

[2020-06-19 20:22] dimonoid opened #467 "Cannot download JavaScript library from the GitHub server when publishing the graph online"

[2020-06-19 20:23] dimonoid commented on #467
This happens only with the latest version

[2020-06-22 05:18] ezralangelo commented on #467
same with me, it says failed to load library on mpld3 version 0.5 and 0.5.1

[2020-06-22 05:19] ezralangelo commented on #467
and i clicked on the library url https://mpld3.github.io/js/mpld3.v0.5.1.js and its error404

[2020-06-22 05:21] dimonoid commented on #467
I actually solved it by adding additional parameters into the function generating the html to load the libraries from the local server. See help for details.

[2020-06-22 05:30] ezralangelo commented on #467
hello can you explain more about this?
are you using mpld3.fig_to_html function? which parameters do you add the the function?

[2020-06-22 05:34] ckerr-IDM commented on #467
Thanks @dimonoid and @ezralangelo -- we'll look into it and hopefully get it fixed shortly!

[2020-06-24 08:26] duerrsimon commented on #467
Looks to me like your gh-pages branch is not up to date anymore. Latest commit there is a few years ago so this seems off.

In the mean time for anyone looking to fix this: Go to https://github.com/mpld3/mpld3/tree/master/mpld3/js and download the latest version as min file. Replace the path to mpld3.github.io in your html file with the path pointing to this file.

Afaik one is not supposed to use

[2020-06-26 23:00] vladh commented on #467
Hey guys,

Thank you for writing about this issue. @duerrsimon is right — the website needs to be updated, and the JS file needs to be uploaded to a proper CDN. I'm working on making time for this ASAP. I hope to have it done within the next couple of days. In the meantime, please use the fix @duerrsimon suggested.

Thank you for your patience!

[2020-06-27 18:49] divyanshu16 opened #468 "dict_to_fig function?"
I have a figure of type matplotlib.figure.Figure

I want to store it in JSON so that I can pull it back later to convert back to matplotlib.figure.Figure

I can see the fig_to_dict function offered by the mpld3 but can't see any function which reverts back to matplotlib figure. Is there  dict_to_fig function too? I couldn't find any similar function.

[2020-06-27 19:03] cliffckerr commented on #468
Hi @divyanshu16 -- unfortunately you can't restore a figure from a JSON, because figure objects use things that can't be stored in JSON (e.g., weak references). However, you can use `saveobj()` from the `sciris` library (https://github.com/sciris/sciris, or `pip install sciris):

[code]

Under the hood this is just using the `pickle` module, so you can use that too.

[2020-06-27 20:02] vladh commented on #467
Thank you for your patience, everyone, and sorry for the wait. I've now updated the JS files on the website, so the normal export process should work! I'll look into using a proper CDN soon. Please let me know if everything works or if you still have issues!

[2020-07-01 13:54] azayz commented on #449
Yes please I'm also struggling with this, the title doesn't appear aswell
![Capture](https://user-images.githubusercontent.com/40893766/86252112-14291c00-bbb3-11ea-9aa5-53c0f2437869.PNG)

[2020-07-01 17:08] cliffckerr commented on #449
Good question @azayz @pranet -- we'll take a look!

[2020-07-09 12:00] vladh commented on #449
I'm working on this and I'll update you as soon as it's fixed! Sorry for the delay, trying to make time. :)

[2020-07-23 05:57] hossam-zaki opened #469 "np.asscalar(a) is deprecated since NumPy v1.16, use a.item() instead"
Hello! I am using mpld3 in my jupyter notebook, and am having some issues. I continueally get this error, and I do not know why. Any advice?

```/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/mpld3/_display.py:138: DeprecationWarning: np.asscalar(a) is deprecated since NumPy v1.16, use a.item() instead```

[2020-07-23 06:20] ckerr-IDM commented on #469
Hi @hossam-zaki , thanks for reporting this. It's just a warning, not an error, so it's fine to ignore. Hopefully @vladh or I will get around to fixing this at some point :)

[2020-07-23 06:32] hossam-zaki commented on #469
The reason I ask is that I was getting this really weird plot using this package. The plot looks fine with regular matplotlib, but using the packages messes it up a bit

![Screen Shot 2020-07-23 at 2 31 33 AM](https://user-images.githubusercontent.com/55958261/88257828-abeac900-cc8c-11ea-9084-8468edb6b16f.png)

[2020-07-23 07:48] ckerr-IDM commented on #469
@hossam-zaki Whoa, that's like straight of a plotting bad dream :) Can you share a minimal example so we can try to reproduce? E.g. same plot but replace with random numbers (since I imagine it's pretty complicated where the actual numbers came from).

[2020-07-29 08:39] edoardolanzini opened #470 "Search Bar Plugin"
## What?
This is an idea for an additional plugin that would allow searching for a specific graph amongst the ones plotted.

## How?
The naive implementation would just look at the titles of each subplot and order them by a measure of distance, filtering how to ones that are too "far".

## Why?
This plugin would be pretty handy if you are dealing with a lot of graphs and you want to filter out wha

[2020-07-30 08:39] keitayabu commented on #470
2020年7月29日(水) 17:39 buzzlightyear <notifications@github.com>:

--
Sent from Gmail Mobile

[2020-07-31 11:27] vladh commented on #468
Closing, feel free to add another comment if you still need help with this.

[2020-07-31 11:27] #468 closed

[2020-07-31 11:28] vladh commented on #462
Closing due to inactivity.

[2020-07-31 11:28] #462 closed

[2020-07-31 11:28] vladh commented on #459
Closing due to inactivity.

[2020-07-31 11:28] #459 closed

[2020-07-31 13:28] vladh commented on #449
@azayz I'm currently testing this, is there any chance you could share your code, so I can confirm I'm actually fixing it for your use case? Somehow I'm experiencing even more bugs than you did.

Also, related issues: #369 #22 #221 #360 #364

[2020-07-31 13:53] AlexanderViand commented on #360
I'm using mpld3 0.5.1, is there a workaround I can use in that version?  I currently get this:
[code]

![image](https://user-images.githubusercontent.com/4427806/89041569-e36d0b80-d345-11ea-8a10-b85fc0b45f46.png)

[2020-07-31 14:13] vladh opened #471 "String-based axis ticks don't work in matplotlib==3.3.0"
In the latest matplotlib, code using simple string as axis ticks returns a `FuncFormatter`, instead of the `StrMethodFormatter` we were counting on.

Example code:

[code]

This means that this condition in `mplexporter/mplexporter/utils.py` is not met, and the ticks are not serialised:

[code]

We should think of a better way of getting the ticks, either by circumventing `FuncFormatter`, or by so

[2020-07-31 15:24] vladh commented on #449
I've looked at this in more detail, and have reached the conclusion that tick rotation seems to be a feature that was never implemented, and probably needs to be implemented in both mplexporter and `mpld3.js`, as I don't think the rotation information is currently passed from MPL to D3. The rotation information should be extracted in `mplexporter/mplexporter/utils.py` and added to the D3 graph in

[2020-08-04 13:00] lokeshbamb opened #472 "Matplotlib widgets not available"
The Cursor widget of matplotlib is not converted in a proper way to the javascript. It is an interactive tool which displays a crosshair gridline with the cursor but when I add it I get two lines at the origin of the graph which has their interactiveness disabled. Please can you solve the same or guide me to make a Plugin which makes a gridline cursor moving the mouse.

[2020-08-20 21:57] mikeykinz commented on #448
I can confirm that cherrypicking 41746d12a773187e16f2bc9930f8462ba68632b3 (https://github.com/mpld3/mpld3/pull/447) to mpld3 v0.3 on python 2.7 makes it so fill_between works.

[2020-09-16 16:17] hyanwong opened #473 "Example plotting a dynamic histogram above a Clustermap"
I've been wanting to plot a heatmap (seaborn "clustermap") showing the mean value of some data for a set of x/y location, and where, when you mouse over each pixel of the heatmap, a histogram of the values at the location is shown. I have something working now, which might make a nice additional example of a linked plot. However, I can't find out how to make nicer axes (especially the X axis) for

[2020-09-20 05:35] victorbonnet opened #474 "Inverted Markers '^' and 'v' for scatter plot"
The 2 markers `^` and `v` produce opposite triangles compared to matplotlib.

### matplotlib
[code]
<img width="377" alt="Screenshot 2020-09-20 at 07 33 23" src="https://user-images.githubusercontent.com/951998/93695124-93275400-fb13-11ea-867e-783131290c02.png">

### mpld3
[code]
<img width="348" alt="Screenshot 2020-09-20 at 07 33 57" src="https://user-images.githubusercontent.com/951998/93695133

[2020-09-20 06:00] cliffckerr commented on #474
Thanks @victorbonnet , confirming this bug! I had a quick look and can't see what's causing it. @vladh would you have a chance to take a look?

[2020-09-24 23:16] elkfraaf opened #475 "Low resolution with imshow"
Hi,

I'm trying to use `mpld3` for generating interactive html for my figures. I'm using simple code as following:
[code]

The saved image from the line `fig.savefig('example.png')` is as following:
![example](https://user-images.githubusercontent.com/44845919/94208823-9ad25a00-fe7f-11ea-9de7-a5b4552ccd3e.png)

While using `mpld3.show()` results in a very low resolution image as following:
<img wi

[2020-09-25 04:21] cliffckerr commented on #475
Hi Ayman -- I'm not sure off the top of my head why the interpolation arg is being ignored, but a workaround is to use `pcolor()` instead of `imshow()`:
[code]
A little fiddling with the x-tick labels and it should give you an identical result to `imshow()`. I'll leave this issue open since there shouldn't need to be a workaround, it should just work!

[2020-09-25 22:32] elkfraaf commented on #475
Thanks @cliffckerr for your reply. `pcolor` generates exactly what I'm looking for. I also used `pcolormesh` before which I believe is the same as `pcolor`. I hope so there is a solution for using `imshow` normally.

[2020-09-29 12:26] mwhy opened #476 "Adding figure to existing base html page"
Hi, I am building a web application for data visualization with flask and matplotlib/ mpld3 and am struggling to find how to add an interactive plot generated by mpld3 to an existing base html page.
I have found this thread on stackoverflow which should work because it is almost exactly what I am trying to do: https://stackoverflow.com/questions/22981359/display-multiple-mpld3-exports-on-a-single-

[2020-10-01 07:45] mwhy commented on #476
For people stumbling across this problem in the future:

You can include the html generated by mpld3s fig_to_html() function the following way:
In your app.py

    html_str = mpld3.fig_to_html(your_fig)
    return render_template('yoursite.html', html_str=html_str)

In your yoursite.html

    {% block content %}
        {{ html_str|safe }}
    {% endblock %}

[2020-10-01 07:45] #476 closed

[2020-10-01 11:36] hyanwong commented on #473
Here's an example produced by code like the above:
![HH2](https://user-images.githubusercontent.com/4699014/94804409-afb06f80-03e2-11eb-9810-7c9146cb7347.gif)

[2020-10-02 06:40] hyanwong opened #477 "get_offset_position deprecated (used in exporter.py)"
With newer matlibplot version, I get

[code]

[2020-10-07 06:38] hyanwong opened #478 "Option to set floating point printing precision?"
I have a rather large plot to generate using mpld3, which passes in data to a custom plugin and it currently results in an html file which is 58 Mb in size, nearly all of which is taken up by the data, with is output to a far too high precision, e.g. with around 10 decimal places.

Is there a way to reduce the precision of the numbers stored in the javascript file (and possibly also print numbers

[2020-10-11 13:41] vladh commented on #474
Hey @victorbonnet and @cliffckerr, sorry for the slow reply. I just realised I wasn't getting any notifications because I had all emails from Github turned off — a real d'oh moment.

I investigated the issue, and the cause seems to be pretty simple. For the top triangle in your example, the vertices are as follows:

[code]

mpld3 and mplexporter get these points correctly, and these points are the

[2020-11-04 12:07] munna commented on #449
As per me, a simple and easy solution to rotate xAxis is CSS.

`css = """
.mpld3-xaxis text{
        transform: translate(18px, 30px) rotate(45deg);
    }
    """`

Apply this CSS to plugins connect
`mpld3.plugins.connect(fig, mpld3.plugins.PointHTMLTooltip(lines[0],labels=labels,voffset=10, hoffset=10,css=css))        `

It works for me like charm.

[2020-11-19 02:16] dmiller7115 opened #479 "XAxis' object has no attribute '_gridOnMajor"
Hello, matplotlib recently merged a change that removed provide variables from Axis: matplotlib/matplotlib#18769.

I hit this bug when converting matplotlib to html.
* matplotlib>=3.3.3
* mpld3==0.5.1

Reproduce by:
[code]
Results in
[code]

[2020-11-19 12:35] carlinmack commented on #479
There is a fix suggested here https://github.com/plotly/plotly.py/issues/2913

[2020-11-19 14:00] keitayabu commented on #479
I have to quite ! No PC has been 3years . If your pea rents die or become Red country what’s wold you do .
Lost your son . You can spend normal life. Or make new san with someone else?  You understand ?
Do not have PC because no measly to live . Like a North .....who look like a telephone .

iPhoneから送信

[2020-11-19 16:34] carlinmack commented on #65
I think this is a worthy feature, but for reference after plotting you can use d3 to make the figure autoscale (here with the window height)

[code]

[2020-11-20 08:18] cliffckerr commented on #479
Thank you @dmiller7115 and @carlinmack -- we'll try to get this fixed in the next few days. Main thing to check is that the fix doesn't break anything for previous version of Matplotlib.

[2020-11-20 17:31] vladh commented on #479
Hey everyone, thank you for the report and for the information.

I've fixed this in https://github.com/mpld3/mplexporter/compare/2f766e439b9d91ab4d4682245a2360bc1e5c2bb5...be8e3da62c81fea15a0107f3ae96ba16fc2cc9f

I've confirmed that the fix suggested by @carlinmack works for matplotlib versions 3.3.3, 3.2.1 and 2.2.5.

The fix will be available as soon as I push out the new version, which will be

[2020-11-20 19:38] mocquin opened #481 "Docs : example of save_html with local js urls"
This is about a proposition to add somewhere in the doc an example of how to use [`save_html`](https://mpld3.github.io/modules/API.html#mpld3.fig_to_html) with the `d3_url` and `mpld3_url` in order to export a html figure for offline use.

In my case, I am absolutely not familiar with javascript, and was a bit confused on how to save a figure to a stand alone html file, I did not know from where/w

[2020-11-20 19:56] mocquin opened #482 "Marker size when zooming"
With matplotlib, when zooming on a plot containing markers, the marker will remain the same size (wrt the screen) when zooming :

![mpl](https://user-images.githubusercontent.com/36188368/99843744-522ed880-2b72-11eb-9915-21ff972c8357.gif)

With mpld3, the marker will grow as the zoom increase :

![mpld3](https://user-images.githubusercontent.com/36188368/99843863-7c809600-2b72-11eb-8bad-c9c53a0dad

[2020-11-20 23:34] carlinmack commented on #479
thanks for testing! I didn't think about backwards compatibility, but glad to hear it works okay!

[2020-11-27 21:21] vladh commented on #479
Fixed in release 0.5.2 in https://github.com/mpld3/mpld3/commit/4617a12d7d0cafd636e66bc65a709e2aab22c0e6 !

[2020-11-27 21:21] #479 closed

[2020-11-28 16:20] nanls commented on #227
The workaround worked fine for me. :tada:

For those who are using `mpld3.plugins.PointLabelTooltip` to add labels when hovering a point of the scatter plot with something like this:

[code]

The labels will not work if you only replace `scatter` by `plot`. You also need to change something here:

[code]

Hope that helps. :)

[2020-12-05 18:32] maxclac opened #483 "Drag with constraints"
Hello!

I was thinking that it would be nice to program a pendulum with mpld3, where one can drag the tip of the pendulum and release.
Now, I would like to focus on the dragging part, ignoring the physics part of the problem for the moment.
So, I have one point that I can drag around with the constraint that it must stay at the same distance of some other point. Is it in principle possible to have

[2020-12-06 12:27] vladh commented on #483
Hi @maxclac

mpld3 doesn't directly support this kind of thing, but you could add it via the [plugin system](http://mpld3.github.io/plugins.html) if you'd like.

However, I would just generally say mpld3 is not the right tool for this task. I would suggest simply working directly with d3, which would give you a lot more flexibility and make your task a lot easier.

Hope that helps!

[2020-12-06 12:27] #483 closed

[2020-12-06 18:03] bryevdv commented on #483
Unless you are specifically wed to d3, there are mature Python based packages that can do interactive web vis, namely [Bokeh](https://docs.bokeh.org/en/latest/) and [Plotly](https://plotly.com)

[2020-12-06 18:18] cliffckerr commented on #483
Hi @maxclac , @vladh 's right that this should be possible using mpld3 plugins, but you'd probably have to write a lot of custom Python and JavaScript code to get it working. @bryevdv is right that one of these other packages might have an out-of-the-box solution -- another option is [Altair](https://altair-viz.github.io/). There's a brief comparison of these libraries here: https://opensource.com

[2020-12-07 06:34] Samrose-Ahmed opened #484 "Option to not include JS libraries in fig_to_html"
Is there an option to not inject any scripts to load D3/mpld3 JS libraries ?

My usecase is I'm using this library to generate `<div>`'s that I'm including using Jinja into an HTML document. I want to include the D3/mpld3 scripts myself in the `<head>`. I am looking at the doc for `fig_to_html` and I don't see any such option.

For example, plotly offers such an option (`include_plotlyjs`) in thei

[2020-12-07 10:15] keitayabu commented on #484
Well my pc was stolen.
So I can afford to pay for it .
Only mobile.
What can do ?

Regard
     Keita Yabu

2020年12月7日(月) 15:34 Samrose Ahmed <notifications@github.com>:

--
Sent from Gmail Mobile

[2020-12-07 19:05] maxclac commented on #483
Thanks a lot for the useful comments!

[2020-12-23 22:41] hbalp opened #486 "Need for a plugin like mpld3.plugins.EdgeLabelTooltip for being able to highlight an edge between two nodes"
The main idea is to be able to highlight the edges of a graph when moving the mouse on it.
The same kind of need has already been formalized by @Patrik in stackoverflow.
[https://stackoverflow.com/questions/65044559/how-to-get-a-tooltip-for-an-edge-of-an-networkx-graph-using-mpld3-tooltip](url)

[2020-12-30 02:40] gitliver opened #487 "Display issue for histogram with a log scale"
Hello,

 Thank you for this wonderful program! I'm new to it, so I may be making a stupid mistake but i'm having an issue plotting a histogram with a log scale (in Jupyter).

If you simply take the example at `https://matplotlib.org/3.3.3/gallery/statistics/hist.html` and add `log=True`, you get:

[code]

then try

[code]

Unexpectedly, the plot is empty. However, if you change `log=True` to `log=

[2020-12-31 18:16] MaxPowerWasTaken commented on #89
any update on this? Is it possible/supported to use mpld3 to create map-based visualizations? I don't see any in the [gallery](https://mpld3.github.io/examples/index.html) or from a quick google (which led me here) but wanted to ask before writing it off in case I missed something.

Thanks!

[2021-01-09 11:51] #484 closed

[2021-01-09 11:52] vladh commented on #482
Thank you for the issue @mocquin! I agree that this is a problem. This could be fixed by not scaling marker elements on zoom. I can't get to work on it right now, but I'll have a look at this before releasing the next version.

[2021-01-09 11:56] vladh commented on #486
Hi @hbalp,

I understand you need a plugin to help you with what you're trying to build. Unfortunately, this is not something I can do for you, but I can refer you to the plugin documentation, and some plugin examples, so that you can build it on your own!

https://mpld3.github.io/_downloads/custom_plugins.html

https://mpld3.github.io/examples/custom_plugin.html#custom-plugin

https://mpld3.githu

[2021-01-09 11:56] #486 closed

[2021-01-09 12:03] vladh commented on #487
Hi @gitliver,

Thank you for reporting this issue. I've reproduced it and I agree that this seems like a problem. Historically, mpld3 seems to have had some trouble with log scales (#227, #201). I'll try to look at this issue before the next release, but it's not clear to me where the source of the issue could be right now. I would probably begin by looking at the mplexporter output.

[2021-01-09 12:06] vladh commented on #481
Hi @mocquin,

I think this is already documented, but perhaps not clearly enough, in the `mpld3.fig_to_html()` API documentation.

https://mpld3.github.io/modules/API.html#mpld3.fig_to_html

However, thanks to a great PR by @Samrose-Ahmed, I can also now recommend using the new `include_libraries=False` argument for `fig_to_html()`. I think this would be easier, since you can then include the libr

[2021-01-09 12:06] #481 closed

[2021-01-13 17:30] pkienzle opened #488 "Incorrect plotting for errorbar plots with logscale"
Another logscale issue: on an errorbar plot the errorbars don't align with the points with log scale.

mpld3 version 0.5.2 with jupyter running on colab.

[code]

Produces:

![image](https://user-images.githubusercontent.com/473456/104487267-e594f080-559a-11eb-8f93-bb153fcc24fb.png)

The errorbars do not respond to zoom or pan.

See also: #487, #227, #201

[2021-01-22 09:32] HiTechMagic commented on #445
@JordiBForgeFlow The most likely cause was loading raw data into a structure and still expecting the dates to act as Date class instances (but they will not have methods as they are effectively now just structs). If you want to treat them as Dates, you will need to construct new dates from the loaded data.

[2021-02-11 16:43] perrette commented on #65
Here I'll second @hadim and @carlinmack to use `viewBox`. It can be very simple actually. For instance, if you currently have  `<svg width="1200" height="800">`, try instead `<svg viewBox="0 0 1200 800">. That's it. The `viewBox` defines the relative size of the svg, and the `width` and `height` parameters are not needed anymore. Well, just like a `div`, they can be set to say, `width=100%`, or be

[2021-02-11 17:03] perrette commented on #65
Yeah well, that's exactly what @carlinmack suggested. I was confused by "use d3 to make the figure autoscale", since it is pure HTML / CSS, but ok, manipulating the DOM is what d3 does. The "preserveAspectRatio" as indicated by @carlinmack is the default value I believe (at least that's what is explained in the css-tricks.com link). Why would you indicate `height="70vh"` if the aspect ratio is pre

[2021-02-11 17:28] carlinmack commented on #65
correct, I didn't want portrait figures being higher than the viewport :)

[2021-02-11 17:51] perrette commented on #65
Except that it makes the figure bigger than necessary, not appropriate when a tight fit with surrounding content is needed. Using `max-height` instead works for me.

Here is how I end up loading mpld3 figures in the browser:

[code]

[2021-02-12 01:54] cliffckerr commented on #65
Thanks for the discussion @carlinmack @perrette ! Coincidentally we just encountered this too, @dkong-idm's solution was:
[code]
@vladh , would it be a lot of work to add this auto-scaling functionality to `mpld3`, either as an optional arg to `draw_figure` or else as a standalone function?

[2021-02-13 15:52] hyanwong commented on #419
It would be useful to be able to output a properly formed HTML page, with the `<html>` and `<body>` tags. Would this be another template?

[2021-02-26 13:26] LeoRuspini opened #490 "variable start_visible for different labels"
Hi guys,
thanks for your work. Im using the plugin InteractiveLegendPlugin and just wonder if there is any way of setting the start_visible parameter different for each label ?

[2021-02-26 13:43] LeoRuspini commented on #490
I realize I can simply give a boolean vector to start_visible !!! Thanks for this !!!!

[2021-03-07 20:53] cliffckerr opened #491 "Fix axvline and add date support for annotations"
[code]

The `ax.axvline()` renders but is vertically displaced. the `ax.text()` fails with `TypeError: Object of type date is not JSON serializable`.

[2021-03-16 14:25] vladh commented on #65
@cliffckerr I can definitely add this to `draw_figure`, perhaps as an argument that takes an `Object` and sets all the attributes specified in that object on the `svg`, so you could pass in something like `{viewBox: ..., width: '90vw', height: 'auto'}`.

My question is if you think this should be added anywhere else, to support e.g. `fig_to_html()`.

[2021-03-23 07:21] cbbcbail commented on #65
@vladh Yes, it would also be very useful in `fig_to_html()`.

[2021-03-27 05:18] jackp2021 opened #493 "LineHTMLToolTip not incorporating CSS"
Hello!

Using the same CSS as your Point HTML tooltip [example](https://mpld3.github.io/examples/html_tooltips.html), I am getting a result without CSS when using the Line HTML Tooltip plugin:

![Screen Shot 2021-03-27 at 1 08 12 AM](https://user-images.githubusercontent.com/80052883/112710638-2f525f00-8e99-11eb-9ea7-ef6bb74dc674.png)

Any suggestions appreciated.

[2021-04-07 01:36] #493 closed

[2021-04-13 08:22] marcelrv opened #494 "display with local=True DeprecationWarning"
I have some difficulties getting mpld3.display() to work. (it doesn't for me.. Only mpld3.enable_notebook() seems to work but that is not what I want due to the problems showing graphs with logaritmic scale)

while trying to use `mpld3.display(fig,local=True)` I get the following error:

note: mpld3: 0.5.2
[code]

[2021-04-14 14:17] manjunaths opened #495 "3D plots do not match between matplotlib and mpld3 (or plots are too tiny)"
I have this below code to plot a 2D Gaussian distribution inside a jupyter notebook and the mpld3 figure is really tiny and the axes scales do not match. Anyway to fix this ?

`#!/usr/bin/env python

import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from scipy.stats import multivariate_normal

import mpld3
from mpld3 import plugins, utils

matplotlib.use("nbAgg")

def make_2d_me

[2021-04-19 14:40] tarunkateja opened #496 "display bar chart of subset data with mouse hover on a bar chart of complete data"
Hi,
I am looking to create an interactive plot where if I hover on a bar of a bar chart it can display another bar chart. Is this feasible with mpld3? This [example](http://mpld3.github.io/examples/html_tooltips.html) is helpful but I am unable to show image when I point to a bar.
Thank you

[2021-05-06 14:41] astrobc1 opened #497 "Box Zoom Doesn't Scale Properly"
Using the box zoom plugin (magnifying glass) on mpld3 plots doesn't seem to scale properly when used outside of the [example on the website here](https://mpld3.github.io/examples/interactive_legend.html). On MacOS 11.2.3 with Google Chrome, trying to zoom in on a particular region results in a zoom which doesn't zoom in all the way on one of the two axes. I believe it's trying to keep the scaling

[2021-05-06 16:42] vladh commented on #497
Thank you for letting me know about this issue! I've tried to reproduce it, and I have to say that zooming works as I would expect. I also tested on Google Chrome with mpld3 0.5.2. I have matplotlib 3.3.3 and am on Windows, but I don't think those things should really make a difference.

I don't really know what to say since I can't reproduce the issue — perhaps you can let me know if you manage t

[2021-05-06 16:46] astrobc1 commented on #497
Thanks for the response! I will try a few other scenarios. Just in case, I should clarify that it works just fine on the website (it scales properly). This only happens when running the file on my local machine.

[2021-05-10 13:38] eelcovv opened #498 "Fine tune grid and axis"
I am trying to export a plot in which I have changed the default settings of the grid and ticks.

I am getting very close, but still there are some issues left. I will post my example here, perhaps you can give your comment to see if it is feasible to generate a html which looks like the original matplotlib plot as close as possible.

My stand alone script looks likethis

[code]

The output file o

[2021-06-02 17:10] astrobc1 commented on #497
Huh interesting! I haven't looked into this problem much since I reported the issue. Are you also on a Mac? To me it's most puzzling how the example provided on the website scales just fine. But when I copy and paste the example then run it on my local machine, the scaling is misbehaving. Both are running on a Mac with Google chrome.

[2021-06-03 10:34] tom-andersson commented on #497
@astrobc1 I'm on Ubuntu 18.04 and my custom mpld3 HTML plot has the same bad zooming behaviour in Chrome and Firefox, so I'm pretty certain the issue is with the HTML file itself (generated by mpld3) than an OS/browser issue. If I download the example webpage you linked to in your OP and run it locally, the zoom feature works fine still. Strange how it doesn't for you!

[2021-06-22 13:06] vladh commented on #497
Thank you for the feedback on this! I haven't managed to reproduce the issue, but if you figure out a consistent way to reproduce it I'm happy to fix it.

[2021-06-22 13:08] #490 closed

[2021-06-22 13:19] astrobc1 commented on #497
I'm not sure if it's of any help but here's the html file generated from my own machine. All I did was copy the code from here: [https://mpld3.github.io/examples/interactive_legend.html](url) and then call `mpld3.save_html()`. I also noticed the shading of the zoom box is different - it's fully transparent in the provided example, but is grey when running it locally.

https://drive.google.com/file

[2021-07-13 14:43] gtg944q commented on #497
Hello all, glad to see the same issue I'm having.  I'll note that this behavior started when I upgraded to 0.5.2 - it was working before - but unfortunately I don't know what version number I was running before.  The interactive_legend example page is using MPLD3 v0.3, so this explains why it's working as expected.  When running the python example locally, it will use your local version, so you'll

[2021-07-20 13:05] jannisborn commented on #467
Hey @vladh is there any progress on this issue?

[2021-07-20 13:23] vladh commented on #467
@jannisborn I fixed the issue but accidentally didn't close it — are you still having this problem? If so, could you let me know what the problematic URL is?

[2021-07-20 13:38] jannisborn commented on #467
I have a `.html` produced in spring 2020 with `fig_to_html` and version `0.3.1`. The file does not render anymore (white screen only) and I'm 100% sure the file rendered properly when I created it.
I thought that it can only be related to the js library version (I use `d3.v3.min` and `mpld3.v0.3.1.dev1.js` but both are accessible via your github-CDN, so it's not really related to this issue). Do y

[2021-07-21 20:22] vladh commented on #467
Hey @jannisborn! I've looked into your issue, and while I can't say exactly why code that was working before isn't working anymore, it seems like you are using a version of mpld3 that requires d3 v5, but you're loading d3 v3.

A simple fix is to replace `https://mpld3.github.io/js/d3.v3.min.js` with, for example, `https://cdnjs.cloudflare.com/ajax/libs/d3/5.0.0/d3.min.js` in your code. I did this

[2021-07-21 20:22] #467 closed

[2021-07-21 21:18] jannisborn commented on #467
It works! Fantastic, many many thanks @vladh :)
My guess was that it's indeed related to the version. I've updated the package now to the latest version. I produced this figure last year and now I'm lacking the source code to redo it. With this fix you really saved my butt. Lmk if I can buy you a coffee!

[2021-07-29 10:25] oliviermanette commented on #381
got the same issue 5 years later ...

[2021-07-29 10:38] vladh commented on #381
Hey @oliviermanette! I'm not familiar with the issue and I wasn't around 5 years ago. Could you provide a minimal reproduction of this issue, so I can take a look at it? Thank you!

[2021-07-29 11:05] oliviermanette commented on #381
Hey @vladh with v0.5.5.js I have now a new warning : Skipping unrecognized plugin: undefined

`tooltip = mpld3.plugins.PointHTMLTooltip(scatter, labels)
    mpld3.plugins.connect(fig, tooltip)
    return mpld3.fig_to_dict(fig)`

[2021-07-29 11:47] oliviermanette commented on #381
http://mpld3.github.io/js/mpld3.v0.5.5.js : 1876

[2021-08-04 20:11] jnygaard commented on #482
I also have this problem. Strangely enough, it doesn't seem to affect the examples on the mpld3-homepage! Should this issue have been closed? (And I'm running an obsolete version? (Just did "pip3 install mpld3" I think...)) Or does the problem just pop up in certain, specific settings? (I try to combine mpld3 with Flask+Jinja2.)

[2021-08-13 07:46] arita37 opened #499 "How to sponsor mpld3 dev ?"
There is Github Sponsor :
https://github.com/sponsors

Would like to know how to sponsor the development of mpld3 ?
It's nice and very efficient application,

[2021-08-13 16:58] vladh commented on #499
Hey @arita37,

Thank you very much for the offer! I'm glad you enjoy mpld3.

I'm the current maintainer of mpld3 but, as you may have noticed, I don't generally dedicate quite as much time as I would like to to maintaining the library. Therefore, I don't think it would be right to accept donations.

If you are able to contribute with your time, there are a few beginner-friendly issues. Otherwise,

[2021-08-13 17:01] arita37 commented on #499
Thanks.
But, am over busy by hundred things…
So thats why am looking to sponsor
for some improvement devs.

[2021-08-28 07:31] brjdenis commented on #475
Hi there. If there is any chance of fixing this I am adding a vote. Imshow works better for large arrays.

[2021-09-11 18:50] jasjisdo commented on #477
[Collection's offset_position has been removed](https://matplotlib.org/devdocs//api/next_api_changes/removals/20245-GL.html)

[2021-09-19 17:38] astrobc1 commented on #497
Is is possible this is a unix only issue? Reading through these comments again, it looks like things work fine on Windows?

[2021-09-21 16:20] gtg944q commented on #497
Unfortunately I've only been running this on ubuntu, so I can't say one way or the other.  Maybe @tom-andersson has tried Windows?

[2021-09-28 09:42] nba20416 opened #500 "KeyError: 'gridOn' 出现了这个问题，应该怎么解决呢？"
Traceback (most recent call last):
  File "D:/3D/pyecharts_draw_3D/keshihua/keshihua/points_mian.py", line 110, in <module>
    html_str = mpld3.fig_to_html(fig)
  File "D:\Anaconda\envs\Atlains\lib\site-packages\mpld3\_display.py", line 250, in fig_to_html
    Exporter(renderer, close_mpl=False, **kwargs).run(fig)
  File "D:\Anaconda\envs\Atlains\lib\site-packages\mpld3\mplexporter\exporter.py",

[2021-11-15 20:30] ndsizemore opened #501 "MousePosition() reporting incorrect coordinates after zoom"
It seems that coordinates displayed by `plugins.MousePosition()` are not accurate when the image is zoomed.

I believe I can provide you the steps to reproduce:

1. Run the `mouse_position.py` code available at https://mpld3.github.io/examples/mouse_position.html -- my environment for this is, running on a Red Hat system (RHEL7) and using Firefox 78:

- Python 3.8.0
- numpy==1.21.4
- matplotlib==3

[2021-11-17 16:10] RussTedrake opened #502 "mpld3_demo notebook fails on matplotlib 3.5.0"
matplotlib 3.5.0 is released (https://pypi.org/project/matplotlib/#history) and I believe `mpld3` needs an update.  The errors end with:

[code]
You can reproduce the error by running the `mpld3_demo` notebook.

[2021-11-18 09:56] titodalcanton commented on #502
@RussTedrake see https://github.com/mpld3/mplexporter/issues/62.

[2021-11-18 15:10] seyeeet opened #503 "compatibility with vscode debugging?"
Hello
I was surprise how amazing this package is, for vscode users it is almost impossible to visualize a file when they are in the debug mode and ssh connecting to server. one solution is trying to X forwarding and setting the display but that is painful and not working well.
Another solution is to save what you want to visualize and then display it in non debug mode.
And NOW another solution is

[2021-11-23 14:24] vladh commented on #502
All should be fixed in 0.5.6. Could you please test and confirm that everything works? Thank you!

[2021-11-23 14:24] #502 closed

[2021-11-23 14:34] vladh commented on #503
Hey @seyeeet, it's not 100% clear to me what the issue is. As far as I understand, the issue is less about VS Code, and more about running scripts over an SSH connection? Regarding the performance issue you're seeing, is that tied to running this script remotely somehow, or is it slow if you run it locally in the normal way?

Either way, if you have a specific issue or suggestion, feel free to ope

[2021-11-23 14:34] #503 closed

[2021-11-23 14:36] vladh commented on #500
I'm sorry, but I can only help you if you describe your issue in English (or Japanese or German). Feel free to reopen another ticket if you're able to do this!

[2021-11-23 14:36] #500 closed

[2021-11-23 14:36] #499 closed

[2021-11-23 15:47] seyeeet commented on #503
yes, I think it is more about running scripts over an SSH connection, it becomes very slow for large files to display, for for now I am not sure how to deal with it. I think there is not a clear way to do it anyways

[2021-11-26 17:54] cemal95 commented on #482
@mocquin How did you make the current graph? I have the same problem with plotting buy and sell arrows on a stock chart that are result on an algortihm. Could I use what you have done to make the current plot?

[2021-11-26 18:00] cemal95 commented on #482
@vladh Have you got any updates?

[2021-11-26 22:45] RussTedrake commented on #502
Confirmed that everything works in my tests.  Many thanks!

[2021-11-27 05:32] AlexAdvent opened #504 "AttributeError: module 'matplotlib.dates' has no attribute '_SwitchableDateConverter'"
I am using mpld3.fig_to_html form the last three months its working fine but from the last two days, it's showing error. All of my code stop workings. Can anyone suggest me how to solve this error?

error: AttributeError: module 'matplotlib.dates' has no attribute '_SwitchableDateConverter'

also this simple code throwing same error.
fig = plt.figure()
plt.scatter([1, 10], [5, 9])
html_graph = mpl

[2021-11-27 07:14] vladh commented on #504
Sorry, this is my mistake! I'll fix it a moment, but if you'd like to get it working before then, you can update to matplotlib 3.5.0.

[2021-11-28 16:23] vladh commented on #504
This should be fixed in 0.5.7 — could you please let me know if everything works for you now on matplotlib 3.2.1? Thanks!

[2021-11-28 16:31] vladh commented on #482
I haven't had time to fix this issue yet, but I've reproduced it, and I believe I've narrowed down the problem. At some point, I did a partial rewrite of the zooming code. As part of this rewrite, I changed something in the mechanism for distinguishing between regular `paths` (which can be zoomed) and `staticPaths` (which should not be zoomed).

The problem is probably in `src/elements/path.js` ar

[2021-11-28 17:26] AlexAdvent commented on #504
it work with matplotlib==3.2.1 mpld3==0.5.7

[2021-11-28 17:30] AlexAdvent commented on #504
@vladh  thanks for help

[2021-11-28 17:30] #504 closed

[2022-02-07 02:12] mcepl opened #505 "test_snapshots and test_show fail"
When packaging mpld3 for openSUSE, we run test suite to prove at least rudimentary functionality of our package and it fails on two test cases:
[code]

Complete [build log.txt](https://github.com/mpld3/mpld3/files/8011834/_log.txt) with all versions of packages used and steps taken.

Also, while looking at the package, I found that it still uses (completely unnecessarily) nose for importing SkipTe

[2022-02-09 19:47] rafmudaf opened #506 "Embedding html in Jekyll broken due to comment in JS"
I'm working on embedding a figure in a GitHub Pages site built with Jekyll using `mpld3.fig_to_dict`. Initially, the figure in the page would simply not render and the JavaScript console raised this error `SyntaxError: Unexpected end of script`. Upon inspection of the site source, I noticed that the JavaScript is inlined and therefore most of it falls after a comment (scroll to the right):

[code]

[2022-02-10 13:53] vladh commented on #506
Hey @rafmudaf! First off, I assume you mean `mpld3.fig_to_html()`, not `mpld3.fig_to_dict()`, unless I've misunderstood something.

Regarding the comment, I'm not familiar with Jekyll, but the fact that the generated Javascript has comments definitely prevents it from being smushed together onto one line. On the one hand, we could just remove the comments. On the other hand, the generated Javascri

[2022-02-10 13:55] vladh commented on #505
Thank you @mcepl for the issue and the patch. This is on my to-do list, and I'll apply and test your patch, as well as fixing whatever problem is present in those tests, ASAP.

[2022-02-10 21:46] rafmudaf commented on #506
Yes, good catch. I did intend `mpld3.fig_to_html()`.

As for how its being used in Jekyll, I'm putting the output string from `fig_to_html` in a markdown file that has this format

[code]

You can see the full commit [here](https://github.com/rafmudaf/floris/commit/6b3dca765609e39d5faac419a6629136d335050c). It's a good point that Jekyll is probably handling the JavaScript incorrectly. I don't know

[2022-02-12 06:29] danielcs88 opened #507 "Plots are not visible if using dark theme"
![image](https://user-images.githubusercontent.com/13838845/153699961-1f1a068c-36c9-4d6b-bbbb-08b45deed165.png)

![image](https://user-images.githubusercontent.com/13838845/153699969-15d2b295-d363-4ffb-8094-9a3995f04bbb.png)

[2022-02-22 21:01] vaclavvesely opened #508 "InteractiveLegendPlugin - AttributeError: module 'collections' has no attribute 'Iterable'`"
Hello

I have encountered problem when using  InteractiveLegendPlugin [example](https://mpld3.github.io/examples/interactive_legend.html) with Python 3.10.2.
I manged to solve the issue by changing mpld3\plugins.py", line 704
            `if isinstance(entry, collections.Iterable): `
to
            `if isinstance(entry, collections.abc.Iterable):`

the error message:
Traceback (most recent call la

[2022-02-22 21:05] vaclavvesely opened #509 "import mpld3 - DeprecationWarning"
Hello I have encountered this deprecation warning when importing  mpld3

import mpld3
...\mpld3\mplexporter\renderers\base.py:4: DeprecationWarning: The distutils package is deprecated and slated for removal in Python 3.12. Use setuptools
or check PEP 632 for potential alternatives
  from distutils.version import LooseVersion

[2022-03-10 05:14] rayanelhelou opened #510 "pandas dataframes all look CSS formatted, can't undo"
After trying [the HTML tooltip demo linked here](https://mpld3.github.io/examples/html_tooltips.html), all my pandas dataframes now look black and gray like the tooltip. I tried closing JupyterLab and resarting, didn't work. Now all my dataframes look bad. Can you help, please?

[2022-03-15 23:48] tonbull commented on #482
hi Vladh,
so in FACT, by scrapping this zoom function in mpld3,
you just helped someone to KILL the mpld3 lib :((
Isn't it?
++Jonas

[2022-03-16 00:02] vladh commented on #482
Hi Jonas,

I don't think I fully understand your comment, but it sounds more dramatic than it ought to. The rewrite I mentioned above was necessary to have mpld3 work at all with newer versions of mpld3. In any case, this is an open source project, so you're more than welcome to figure out the cause of the issue yourself and submit a pull request, which I will then gladly review.

[2022-03-16 00:46] tonbull commented on #482
am not a programming crack that can dig into every bits and byte of all main and sub of a lib in C-js-py...
just a py player and big user of "zoom auto-scale function of a graph" (i.e. with x100000 projects/datas to investigate, the auto-constant-scale zoomm function is a must to see and catch the main) with a bit of prog skills.
what you propose, to solve the issue very well described by mocquin

[2022-03-16 13:11] tonbull commented on #482
ok, find a quick and dirty workaround:
- calling html_fig = mpld3.fig_to_html(fig) generate the html code to embed in webpage
- this generated code includes js code to download online the d3.js and mpld3.js lib
- so with string replacement as here*, I force the html.js code to fetch the d3.js and mpld3.js lib from ~2015 on my server
- >>> then the zoom function works properly again (= the marker w

[2022-03-16 13:44] vladh commented on #482
Thank you for looking into this. Because this issue appeared as a result of the update and refactoring to add support for the latest versions of d3, using an older version will fix the problem. However, this issue is about fixing this problem in the latest version of mpld3. I haven't yet found time to work on this, but I will at some point, and I welcome help before then.

[2022-05-12 09:55] AlexanderProd commented on #437
I'm wondering the same thing, have you figured something out?

[2022-05-16 10:09] kagb-cowi opened #511 "Aspect ratio seems locked when zooming"
When zooming with a different aspect ratio than when generating the plot, the ratio seems to be locked somehow. I have no idea if it is something I have done to the plot, some version issue or something else...

To test it I have replicated the exact example [here](https://mpld3.github.io/notebooks/mpld3_demo.html) in Jupyter and get the same unexpected response when zooming. The weird thing is th

[2022-05-16 10:36] kagb-cowi commented on #511
Woops this is a duplicate! There is an open issue from 2021 on the same issue, that didn't pop up when searching for it as aspect ratio - the other issue mentions scale instead, but it seems to be the same issue.

[2022-05-16 10:36] #511 closed

[2022-05-16 10:36] kagb-cowi commented on #497
Did anyone manage to solve this? It is still an issue as of today with the current versions:
Python: 3.9.5
Matplotlib: 3.5.2
Mpld3: 0.5.7

[2022-05-16 12:52] gtg944q commented on #497
@kagb-cowi not to my knowledge.

[2022-05-27 11:33] tobiz commented on #479
As of 20220527 I still get this problem ('XAxis' object has no attribute '_gridOnMajor') with the example of dmiller7115 running kubuntu 21.10, python 3.9.7, matplotlib 3.5.2, plotly 5.8.0 - all python modules standard install.  However the only difference is the line in issue is line 247, ie "if axis._gridOnMajor and len(gridlines) > 0:"

[2022-05-27 13:22] vladh commented on #505
Fixed in fa3aeb, will be released in 0.5.8. Took me a while. :)

[2022-05-27 13:22] #505 closed

[2022-05-27 13:25] vladh commented on #479
@tobiz Line 247 of what file? Doing an `ack "_gridOnMajor"` gives me nothing, hmm…

[2022-05-27 13:49] tobiz commented on #479
Sorry!
This where it's installed in the VM;  similar to the file ref in dmiller7115's install.
/usr/lib/python3/dist-packages/plotly/matplotlylib/mplexporter/utils.py

[2022-05-27 13:49] vladh commented on #508
Thanks! Fixed in [d2b8012](https://github.com/mpld3/mpld3/commit/d2b8012a6a704d9fac35d1a839ecf012514e4031), will be released in 0.5.8.

[2022-05-27 13:49] #508 closed

[2022-05-27 13:50] vladh commented on #479
@tobiz It sounds like your problem is not with mpld3 but with "matplotlylib" — I'm not sure what that is, but it sounds like you have the wrong repo! :P

[2022-05-27 14:06] vladh commented on #510
I unfortunately don't quite understand what the problem is. There's no real way for me to research this if all the information I have is "the dataframes look bad".

Could you please research the issue a bit more, maybe provide some screenshots of what's happening, and maybe try to figure out if the problems occurs in some situations and not others? If you describe the issue more precisely and help

[2022-05-27 14:06] #510 closed

[2022-05-27 14:10] bryevdv commented on #510
Pandas only renders HTML in notebook contexts. In any case, from a glance at the plugin example the issue is clearly CSS pollution.

[2022-05-27 14:13] gtg944q commented on #497
@vladh could you post your python/matplotlib/mpld3 versions in use?  Since this issue appears it was caused by a version change somewhere (maybe mpl), I wouldn't be surprised if it's also fixed by a version change.

[2022-05-27 14:44] vladh commented on #497
Sure, I'm on Python 3.10, matplotlib 3.5.2 and mpld3 0.5.7.

[2022-05-27 15:09] bryevdv commented on #479
Certainly but in the spirit of helpfulness it is probably worth mentioning the obvious conclusion, which is that the other project has vendored an old / out of date version of [mpld3/mplexporter](https://github.com/mpld3/mplexporter)

[2022-05-28 15:51] rayanelhelou commented on #510
Thanks for the suggestion. The "CSS pollution" is what I think it was. The problem is solved.

[2022-05-30 10:04] 12Tall commented on #436
Use `Figure` than `plt`. https://matplotlib.org/3.5.0/gallery/user_interfaces/web_application_server_sgskip.html

[2022-05-30 10:06] 12Tall commented on #432
same issue from myside. I tried `fig.clf()`,`plt.close('all')` and `gc.collect()`, but none of them worked.

[2022-05-30 22:27] mcepl commented on #505
Works for me with 0.5.8. Thank you!

[2022-06-06 06:23] willhuang1997 commented on #381
@vladh , I think they are referencing the fact the javascript code does not have the code to register the plugin for "htmltooltip". Is it possible to add the code from https://github.com/mpld3/mpld3/blob/d2b8012a6a704d9fac35d1a839ecf012514e4031/mpld3/plugins.py#L309 to the javascript code or maybe I can do it? I technically could but it might be faster on your side since I would have to go through

[2022-06-06 07:17] willhuang1997 commented on #507
+1! Would love to have this solved

[2022-06-06 10:22] felipems11 commented on #477
Try replacing this line by:  offset_order = dict()
This worked for me, but I understand this is an awful solution.

#offset_order = offset_dict[collection.get_offset_position()]
offset_order = dict()

[2022-07-28 21:03] quantum-quant opened #513 "Null treated as zeros instead of missing values"
I am trying to use mpld3 to render a figure in React on the frontend. In jupyter notebook, mpld3.display() does do the right thing, i.e., treating null in the dataset as missing values and render them as breaks in the the line. But for some reason, when I use mpld3.draw_figure() in javascript on the frontend (where I pass in the same json generated in python in the jupyter notebook), the nulls are

[2022-07-28 22:12] quantum-quant commented on #513
Actually I was wrong. `mpld3.display()` treats nan as zeros too. I just missed it.

Only the matplotlib's direct/native print to the notebook output seems to be doing the right thing:

<img width="1317" alt="image" src="https://user-images.githubusercontent.com/74025052/181646069-7693f243-5e41-4165-a7d0-27f846be2fa2.png">

[2022-08-05 07:39] s0ulslayer opened #514 "Does not work with figures that use Cartopy with Matplot"
Tried using mpld3 with a figure that uses Cartopy to plot the Ocean Currents on the world map, but only the currents are rendered and not the map background.
Code for reference:
[code]

[2022-08-24 14:26] broncio123 commented on #85
I guess there hasn't been a lot of progress on this...

[2022-10-07 11:09] asilvino commented on #449
Do we have any update on this matter?

[2022-10-07 11:13] vladh commented on #449
I won't have the time to fix this myself anytime soon, but I would gladly review a PR and I encourage those who this affects to send one!

[2022-11-07 12:33] alexkutsan commented on #193
I have a very similar issue with xticks as datetime :

[code]

Any workarounds for it?

did not help

[2022-11-25 12:10] yoann9344 commented on #497
I got the error on linux :
python 3.10.8 ; matplotlib 3.6.2 ;  mpld3 0.5.8

[2022-11-30 22:25] Bozydarek commented on #509
Here is a PR with a fix for this issue: https://github.com/mpld3/mplexporter/pull/64